@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

:root {
  --background: #F7F7F7;
  --foreground: #101418;
  --primary: #101418;
  --primary-hover: #1a1f26;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --font-sans: 'Figtree', sans-serif;
  --font-serif: 'Figtree', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Figtree', sans-serif;
}
